.teste{
    transition: opacity 0.5s ease-in;
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    left: 0;
    animation: moveRight 2s ease-in infinite;
}
@keyframes moveRight {
    0% {
        left: 0;
    }
    100%{
        left: calc(100% - 200px);
    }
}